@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-base text-gray-200;
}
.ui-button {
  @apply rounded-lg px-3 py-1 border-2 border-gray-200 text-gray-200 lg:hover:bg-gray-200 lg:hover:text-slate-950;
}
